.rightTop{
	float: right;
}

.myText1{
height: 15px;
}

.divBlock{
	margin: 20px;
}

.divBlock a{
	margin: 20px;
	font-size:18px;
	margin-left: 0px;
}

.footer{
	margin-left: 40%;
	margin-right: 40%;
}

.imageGallary{
 	float:	left;
}

.imgGallaryImage{
	float: left;
}

.videoGallary{
	margin: 20px;	
margin-top: 0px;
}